{% extends 'layout.html.twig' %}

{#{% form_theme form with ['form_table_layout.html.twig'] %}#}

{% trans_default_domain 'misc' %}

{% block title 'signup.title'|trans %}

{% block subtitle 'signup.subtitle'|trans %}

{% block content %}
  {{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
      <button type="submit">
        {{- 'signup.submit'|trans -}}
      </button>
    </div>

  {{ form_end(form) }}
{% endblock %}

